.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .block {
        width: 100%;
        background-color: var(--dark-green);
        align-items: start;
        font-size: 12px;
        font-weight: 700;
        padding: 5px 10px;
        border-radius: 22px;
    }

    .stars {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4px;

        img {
            width: 16px;
            height: 16px;
        }
    }
}

.image {
    width: 170px;
    height: 170px;
    border-radius: 100%;
}