<div class="card search">
    <div class="filters">
        <div>
            <p>Search title</p>
            <input [(ngModel)]="gadgetsService.inputed" type="text">
        </div>
        <div>
            <p>Select category</p>
            <select [(ngModel)]="gadgetsService.selected" name="" id="">
                <option value="" selected>any</option>
                @for (option of gadgetsService.options; track $index) {
                <option [value]="option">{{option}}</option>
                }
            </select>
        </div>
    </div>
    <div class="sliders">
        <div>
            <p>Price range: <span class="number">{{ gadgetsService.priceRange }}</span></p>
            <div>
                <p class="number">0</p>
                <p class="number">{{gadgetsService.maxPrice()+1}}</p>
            </div>
            <input [(ngModel)]="gadgetsService.priceRange" type="range" min="0" [max]="gadgetsService.maxPrice()+1"
                step="50">
        </div>
        <div>
            <p>Rating range: <span class="number">{{ gadgetsService.ratingRange }}</span></p>
            <div>
                <p class="number">1</p>
                <p class="number">5</p>
            </div>
            <input [(ngModel)]="gadgetsService.ratingRange" type="range" min="1" max="5" step="1">
        </div>
    </div>
</div>